scripts=[
        "
        create path (sling:OrderedFolder) /content/dam/uploadpoc
        create path (nt:unstructured) /content/dam/uploadpoc/jcr:content
        set properties on /content/dam/uploadpoc/jcr:content
        set cq:conf{String} to /conf/uploadpoc
        set jcr:title{String} to \"Upload POC\"
        end
        "
]
